:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.top-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.top {
  display: flex;
}
.top-top {
  display: flex;
  align-items: center;
}
.top-nav {
  display: flex;
  align-items: center;
}
.top-contacts {
  display: flex;
  margin-left: auto;
}
.list > .item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--accent-color);
}

.nav-link,
.contact-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.contact-link {
  color: var(--primary-text-color);
}
.hero {
  padding: 200px 0;
  background-color: var(--primary-background-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  border-width: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding: 94px 0;
}
.section-advantages {
  padding-bottom: 0;
}
.advantages {
  display: flex;
}
.item-advantages {
  flex-basis: 270px;
}
.list > .item-advantages:not(:last-child) {
  margin-right: 30px;
}
.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.list-doing {
  display: flex;
  margin-right: -30px;
}
.list-doing > .item-doing {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.team {
  background-color: var(--secondary-background-color);
}
.description-member {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-list {
  display: flex;
  margin-right: -30px;
}
.team-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.item-adress {
  margin-bottom: 9px;
}
.mail-tel {
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav > .item-portfolio-nav:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-family: inherit;
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-width: 0;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.samples {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.samples > .item-samples {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.description-samples {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
